.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
.grid-item {
text-align: center;
}
.line{
    line-height: 100%;
    border-bottom: solid gray 1px;
}
input{
    width: 10%;
}
.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
img{
    width: 200px;
    height: 200px;
}
.lowercase{
    font-size: 70%;
}
h1{
    font-size: 200%;
}
.space{
    margin-top: 20px;
}

@media screen and (max-width: 800px) { 
h2{
    font-size: 60%;
}
p{
    font-size: 55%;
}
img{
    width: 50px;
    height: 50px;
}
.lowercase{
    font-size: 40%;
}
h3{
    font-size: 70%;
}

}